.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  body {
    background-image: url('https://t3.ftcdn.net/jpg/03/27/87/86/240_F_327878651_2L0qeIEGGvJEA3ZQZfZGBUbkiFZ3bJqT.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
